$recipeWidth : 350px;

.featured-recipes-declaration {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding: 25px;
    text-decoration: underline;
}

.featured-recipes-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .recipe-name {
        text-align: center;        
        font-size: 24px;
        font-weight: 600;

        width: $recipeWidth;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .recipe {
        flex: 0 1 $recipeWidth;

        .recipe-image {
            border-radius: 10%;
        }
    }
}