$recipeWidth : 350px;

.category-recipes-declaration {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding-bottom: 35px;
    text-decoration: underline;
}

.category-recipe-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 40px;

    .category-recipe {
        flex: 0 1 $recipeWidth;
        width: $recipeWidth;
        padding-bottom: 20px;
        
        .category-recipe-name {
            text-align: center;        
            font-size: 24px;
            font-weight: 600;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        .category-recipe-image {
            border-radius: 10%;
        }
    }
}