.categories-declaration {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding: 25px;
    text-decoration: underline;
}

.categories-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .category {
        width: 250px;
        flex: 1 1 250px;
    }
    
    .category-name {
        text-align: center;
    }
}