@mixin declaration()
{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding: 25px;
    text-decoration: underline;
}

@mixin flex-config()
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 35px;
}