@mixin declaration()
{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding: 25px;
    text-decoration: underline;
}

@mixin flex-config($justify-content: center)
{
    display: flex;
    justify-content: $justify-content;
    flex-wrap: wrap;
    padding-bottom: 35px;
}