$recipeWidth : 350px;

.recipes-declaration 
{
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding: 25px;
    text-decoration: underline;
}

.search {
    text-decoration: none;
}

.recipes-list 
{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-bottom: 35px;

    .recipe-name 
    {
        text-align: center;
        font-size: 24px;
        font-weight: 600;

        width: $recipeWidth;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .recipe 
    {
        flex: 0 1 $recipeWidth;
        padding-bottom: 20px;

        .recipe-image {
            border-radius: 10%;
        }
    }
}

.button-container 
{
    padding-bottom: 25px;
    
    .button 
    {
        font-size: 24px;
        padding: 10px;
        display: block;
        margin-left: auto;
        margin-right: auto;

        background-color: #AFC896;
        border-radius: 8px;
    }
}