$recipeWidth : 350px;

.random-recipes-list {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    .recipe-name {
        text-align: center;
        font-size: 26px;
        font-weight: 600;

        width: $recipeWidth;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .recipe {
        flex: 0 1 $recipeWidth;
    }
}