@import '../../../universal-styles/PageMixins';

.about-page 
{
    overflow:hidden;
    .about-declaration {@include pageDeclaration();}
    .content 
    {
        @include content();
        padding-bottom: 35px;
        overflow: hidden;
    }

    .link-images 
    {
        @include linkImage();
        .react-image {
            width: 35%;
        }
    }
}