.message {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding: 15px;
}

/*.no-content-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border-radius: 15%;
    padding: 35px;
}*/