.areas-declaration {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding: 25px;
    text-decoration: underline;
}

.areas-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .area {
        width: 150px;
        flex: 1 1 150px;
    }

    .area-name {
        text-align: center;
    }
}