.letter-declaration {
    font-size: 32px;
    font-weight: 400;
    text-align: center;
    padding: 25px;
    text-decoration: underline;
}

.letter-list {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    
    li {
        flex: 0 1 35px;
        font-size: 20px;

        &::after {
            content: " |";
        }
    }

    .last-element {
        &::after {
            content: none;
        }
    }
}