@import '../../../universal-styles/ListMixins';

.letter-declaration {@include declaration();}
.letter-list 
{
    @include flex-config();
    list-style: none;
    
    li {
        flex: 0 1 35px;
        font-size: 20px;

        &::after {
            content: " |";
        }

        &:last-child {
            &::after {
                content: none;
            }
        }
    }
}