.nav {
    background-color: rgb(218, 171, 171);
    width: 100%;
    overflow: hidden;

}

.logo {
    width: 7vh;
    height: auto;
    position: relative;
    left: 55px;
    bottom: 20px;
    border: 3px solid black;
    border-radius: 20%;
}

.blurp {
    width: 20vh;
    height: auto;
    position: relative;
    left: 70px;
    bottom: 22px;
}

.nav-list {
    list-style: none;
    display: flex;
    justify-content: center;

    position: relative;
    left: 5%;
    top: 50px;

    li {
        position: relative;
        padding-left: 3%;
        padding-right: 3%;

        a {
            padding-top: 3%;
            padding-bottom: 5%;
            padding-left: 10%;
            padding-right: 10%;

            border: 2px black solid;
            border-radius: 15%;

            text-decoration: none;
            font-size: 20px;
            color: black;
            background-color:  rgb(241, 237, 237);
        }

        form {
            padding: 5px;
            position: relative;
            bottom: 10px;

            .search-text {
                height: 30px;
                font-size: 20px;
            }

            .search-button {
                height: 35px;
                width: 80px;
                border: 2px black solid;
                border-radius: 15%;
                background-color:  rgb(241, 237, 237);
                font-size: 20px;
            }
        }
    }
}